/* Theme color: #57a89a rgba(87,168,154,0.6) 92d7c6*/

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  transition: 0.5s;

   /*transform: translate3d(70px, 0, -800px) rotateY(30deg);*/
}
.name-container {
  position: absolute;
  font-size: 50px;
  font-family: 'Lato','Arial',"Lucida Sans Unicode","Lucida Grande",'sans-serif';
  font-weight: 500;
  left: 20%;
  bottom: 40%;
  padding: 10px;
  color: white;
}
.name {
  text-shadow: 1px 1px #57a89a;
}
.button {
  background: rgba(255,255,255,0.7);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  left: 49%;
  bottom: 20px;
  text-align: center;
  line-height: 132px;
  color: #57a89a;
  animation:myfirst 1s infinite;
}

@keyframes myfirst
{
  0%   {line-height:132px;}
  50%  {line-height:160px;}
  100% {line-height:132px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
  0%   {line-height:132px;}
  50%  {line-height:160px;}
  100% {line-height:132px;}
}

.parallax__layer--base {
  transform: translateZ(0);
  z-index: 4;
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
  z-index: 3;
}

#landing .parallax__layer--back {
  background-image: url('../images/1_3.jpg');
  background-size: cover;
}

#content {
  background: #FFFFFF;
}

#content .parallax__layer--back {
  transform: translateZ(-1px) scale(1);
}
#details > ul {
  position: relative;
}
.category {
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 70px;
  color: #D5D5D5;
  opacity: 0.5;
  font-family: 'Lucida Grande','Lato','Ubuntu';
  z-index: -1;
  margin-top: -10px;
}
.tags {
  /*margin: 10px auto;*/
}
.tag {
  background: #57a89a;
  color: white;
  padding: 2px 6px;
  font-size: 15px;
  border-radius: 3px;
  font-family: 'Arial',"Lucida Sans Unicode","Lucida Grande",'sans-serif';
}

#banner {
  background: #E8E8E8;
  padding: 10px 0px;
}
#banner ul, #work-exps, #websites, #projects, #projects, #sch-projects, #sch-projects-row2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  display: flex;
  width: 80%;
  margin: 0 auto;
}
#banner ul {
  text-align: center;
}
#banner ul li, #work-exps li, #education li .thumbnail, #websites li, #projects li, #sch-projects li, #sch-projects-row2 li{
  -moz-flex: 1;
  -webkit-flex: 1;
  -o-flex: 1;
  -ms-flex: 1;
  flex: 1;

  line-height: 30px;
}
#banner ul li {
  font-family: 'Lato','Arial';
  font-weight: 200;
  color: #868686;
  border-right: 1px solid #CBCBCB;
}
#work-exps > li {
  padding: 20px;
  line-height: 10px;
  font-family: 'Arial',"Lucida Sans Unicode","Lucida Grande",'sans-serif';
}
.thumbnail {
  padding: 40px;
  text-align: center;
}
.thumbnail img {
  max-width: 80%;
  max-height: 89px;
}
.title {
  font-weight: 600;
  color: rgba(0,0,0,0.8);
  font-size: 20px;
}
.period {
  font-family: 'Lato','Arial';
  font-weight: 300;
  color: #727272;
  font-size: 14px;
}
#work-exps .des {
  line-height: 3px;
}
.des {
  color: rgba(0,0,0,0.6);
}
#work-exps .des ul,  #education .des ul{
  margin-top: 25px;
  line-height: 25px;
}
#work-exps .des ul li:first-child, #education .des ul li:first-child{
  font-weight: 600;
  color: rgba(0,0,0,0.8);
}

#work-exps .fa-circle-o-notch, #education .fa-circle-o-notch{
  font-size: 15px;
  margin-bottom: 4px;
  color: #57a89a;
}
.fa-external-link {
  font-size: 15px;
  margin-bottom: 4px;
  color: #2a6c61;
}
#education, #websites, #projects, #sch-projects, #sch-projects, #graphics {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
  border-top: 1px solid #57a89a;
}

#education > li {
  margin-bottom: 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  display: flex;
}
#education > li:nth-child(2) .thumbnail{
  padding: 20px 40px;
}
#education li .des {
  -moz-flex: 3;
  -webkit-flex: 3;
  -o-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
#education .des ul {
  line-height: 25px;
}

.thumbnail-container {
  padding: 4px;
  border: 1px solid rgba(128,128,128,0.5);
  margin-bottom: 10px;
}
#websites > li, #projects > li, #sch-projects > li, #sch-projects-row2 > li{
  padding: 20px;
}
#websites .thumbnail, #sch-projects .thumbnail, #sch-projects-row2 .thumbnail {
  padding: 0;
  height: 200px;
}
#websites .thumbnail.eforum {
  background: url('../images/thumbs/eforum.png');
  background-size: cover;
}
#websites .thumbnail.pjtype {
  background: url('../images/thumbs/pjtype.png');
  background-size: cover;
}
#websites .thumbnail.teil {
  background: url('../images/thumbs/teil.png');
  background-size: cover;
}
#websites li{
  line-height: 25px;
}
#websites li.proj-des, #projects li.proj-des, #sch-projects li.proj-des, #sch-projects-row2 li.proj-des{
  line-height: 18px;
}

#projects .thumbnail {
  padding: 0;
  height: 250px;
}
#projects .thumbnail.ihaveq {
  background: url('../images/thumbs/owo.jpg');
  background-size: cover;
}
#projects .thumbnail.cardhow {
  background: url('../images/thumbs/cardhow.jpg');
  background-size: cover;
}
#projects {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.course {
  font-style: italic;
  font-weight: 400;
}
#sch-projects .thumbnail.shrimpnews {
  background: url('../images/thumbs/shrimpnews.png');
  background-size: cover;
}
#sch-projects .thumbnail.movie2map {
  background: url('../images/thumbs/movie2map2.jpg');
  background-size: cover;
}
#sch-projects .thumbnail.ringtune {
  background: url('../images/thumbs/ringtune2.png');
  background-size: cover;
}
#sch-projects-row2 .thumbnail.faceloook {
  background: url('../images/thumbs/faceloook.png');
  background-size: cover;
}
#sch-projects-row2 .thumbnail.kingofplants {
  background: url('../images/thumbs/kingofplants.png');
  background-size: cover;
}
