/* Theme color: #57a89a rgba(87,168,154,0.6) 92d7c6*/

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  transition: 0.5s;

   /*transform: translate3d(70px, 0, -800px) rotateY(30deg);*/
}

.parallax__layer--base {
  transform: translateZ(0);
  z-index: 4;
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
  z-index: 3;
}

#landing .parallax__layer--back {
  background-image: url('../images/1.png');
  background-size: cover;
}

#content {
  background: #FFFFFF;
}

#content .parallax__layer--back {
  transform: translateZ(-1px) scale(1);
}

#banner {
  background: #E8E8E8;
  padding: 10px 0px;
}

#banner ul, #work-exps{
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  display: flex;
  width: 80%;
  margin: 0 auto;
}
#banner ul {
  text-align: center;
}
#banner ul li, #work-exps li, #education li .thumbnail{
  -moz-flex: 1;
  -webkit-flex: 1;
  -o-flex: 1;
  -ms-flex: 1;
  flex: 1;

  line-height: 30px;
}
#banner ul li {
  font-family: 'Lato','Arial';
  font-weight: 200;
  color: #868686;
  border-right: 1px solid #CBCBCB;
}
#work-exps > li {
  padding: 20px;
  line-height: 10px;
  font-family: 'Arial',"Lucida Sans Unicode","Lucida Grande",'sans-serif';
}
.thumbnail {
  padding: 40px;
  text-align: center;
}
.thumbnail img {
  max-width: 80%;
  max-height: 89px;
}
.title {
  font-weight: 600;
  color: rgba(0,0,0,0.8);
  font-size: 20px;
}
.period {
  font-family: 'Lato','Arial';
  font-weight: 300;
  color: #727272;
  font-size: 14px;
}
#work-exps .des {
  line-height: 3px;
}
.des {
  color: rgba(0,0,0,0.6);
}
#work-exps .des ul,  #education .des ul{
  margin-top: 25px;
  line-height: 25px;
}
.des ul li:first-child{
  font-weight: 600;
  color: rgba(0,0,0,0.8);
}

#work-exps .fa-circle-o-notch, #education .fa-circle-o-notch{
  font-size: 15px;
  margin-bottom: 4px;
  color: #57a89a;
}
.fa-external-link {
  font-size: 15px;
  margin-bottom: 4px;
  color: #2a6c61;
}


#education {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  border-top: 1px solid #57a89a;
}
#education > li {
  margin-bottom: 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  display: flex;
}
#education > li:nth-child(2) .thumbnail{
  padding: 20px 40px;
}
#education li .des {
  -moz-flex: 3;
  -webkit-flex: 3;
  -o-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
#education .des ul {
  line-height: 25px;
}
